
body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279;
	-webkit-font-smoothing: antialiased;

	background-color: #fff;
}

a{
	text-decoration: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}



.wrap{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/*HEADER
================================================================*/

header{
	background-image: url(../img/header-bg.jpg);
	background-color: #31344e;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 0 0 170px;

	position: relative;
}


/*Панель в header
======================*/

.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}
/*Фиксированная шапка*/

.fixed{
	position: fixed;

	background-color: #31344e;
}

.fixed .header-panel{
	padding: 15px 0;
	border: 0;
}

.header-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding: 35px 0;

	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}


.header-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;


}


.header-nav .nav-link{
	display: inline-block;
	font-family: Raleway;
 	font-size: 13px;
  	font-weight: 700;	
  	text-transform: uppercase;
  	color: rgba(255, 255, 255, 0.75);

  	margin-left: 45px;
}


.header-nav .nav-link:hover{
	text-decoration: underline;
	transition: 0.3s;
	color: rgba(255, 255, 255, 1);
}



/*Контетнт в header
=======================================*/

.header-content{
	padding-top: 100px;
	width: 100%;
	text-align: center;
	max-width: 940px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-content .header-title {
	text-transform: uppercase;
	font-family: "Open Sans";
  	font-size: 65px;
  	font-weight: 700;
  	line-height: 1.09;
  	color: #ffffff;
  	margin: 140px auto 35px;

}

.header-content p {
	font-family: Raleway;
  	font-size: 22px;
  	line-height: 1.5;
  	color: #ffffff;
  	margin: 0 auto;

  	margin-bottom: 70px;

}

.header-content .btn-main{
	margin: 0 auto;
}

/*основная кнопка
======================================*/

.btn-main{
	display: inline-block;
	font-family: Raleway;
  	font-size: 13px;
  	font-weight: 600;
  	text-transform: uppercase;
  	color: #ffffff;
  	border: 0;
  	cursor: pointer;

  	margin: 0 auto;

  	background-color: #e84545;
  	border-radius: 2px;
  	transition: background 0.3s linear;
}
/* / основная кнопка
======================================*/

.header-btn{
 	padding: 15px 40px;
}

.btn-main:hover{
 	background-color: #dd3434;
}



/*PAGE-FEATURES
=================================================================*/

.page-features{
	padding: 90px 0 ;
}

.features-flex{
	display: flex;
	flex-wrap: wrap;
}



.features-flex-item{
	flex-basis: 33.3333333%;
	text-align: center;
	margin: 0 auto;

	padding: 0 40px;
	margin: 30px 0;
}


.features-icon {
	margin-bottom: 30px;
}

.features-title{
	font-family: Raleway;
  	font-size: 14px;
 	font-weight: bold;
  	color: #2d3033;
  	text-transform: uppercase;

  	margin-bottom: 22px;
}

.features-flex-item p {
	font-family: Raleway;
  	font-size: 14px;
  	line-height: 1.5;
  	color: #6c7279;

  	margin: 0 auto;
}


/*PAGE-WORKS
=============================================================*/



.works-flex{
	display: flex;
	flex-wrap: wrap;

	margin: 0 auto;
}


.works-item{
	flex-basis: 25%;
	overflow: hidden;
	height: 350px;

	position: relative;

	border: 1px solid #fff;
}



.works-item img{
	min-width: 100%;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;

	transform: translate3d(-50%, -50%, 0);
}



.works-description{
	opacity: 0;
	transition: opacity 0.5s linear;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	background-color: rgba(232, 69, 69, 0.9);

	text-align: center;
}


.works-description h5{
	margin-bottom: 5px;

	font-family: Raleway;
  	font-size: 14px;
  	font-weight: 700;
  	color: #ffffff;
  	text-transform: uppercase;
}

.works-description p{
	color: #ffffff;
	font-family: Raleway;
  	font-size: 14px;
  	text-transform: capitalize;
}





.works-item:hover  .works-description {
	opacity: 1;
}




/*PAGE-TEAM
=============================================================*/


.page-team{
	padding: 100px 0 70px;
}


.team-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -15px;
	flex-wrap: wrap;
}


 .team-item{
	flex-basis: 25%;
	padding: 0 15px;
	margin-bottom: 30px;
}


.team-photo{
	display: block;
	max-width: 100%;
	height: auto;

	margin-bottom: 20px;
}

.team-title{
	font-family: Raleway;
  	font-size: 22px;
  	color: #2d3033;
}


.team-title span {
	display: block;

	font-family: Raleway;
	font-weight: 500;
  	font-size: 13px;
  	text-transform: uppercase;
  	color: #e84545;
  	margin-top: 12px;
  	margin-bottom: 25px;
}


.team-text{
	font-family: Raleway;
  	font-size: 14px;
  	color: #6c7279;
  	line-height: 1.5;
  	margin-bottom: 20px;
}


/*social
=====================================*/

.social{
	display: flex; 
}


.social-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: #fff;

	margin-right: 4px;

	border: solid 1px #e8ecee;

	transition: background 0.3s linear;
}


.social-link img{
	height: 18px;
	width: auto;
}


.social-icon{
	fill:  #c6cacc;
	display: block;
	height: 18px;
	width: auto;

	transition: fill 0.1s linear;
}


.social-link:hover{
	background-color: #e8ecee;
}

.social-link:hover .social-icon{
	fill: #000;
}



/*PAGE-testim
=============================================================*/

.page-testim{
	background-color: #53354a;
	overflow: hidden;
}

/*slider*/
.testim-slider{
	height: 500px;
	overflow: hidden;
}

.testim-slider.slick-initialized{
	height: auto;
}
/* / slider*/

.testim-item{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}


.testim-photo{
	width: 50%;
	height: 500px;

	position: relative;
}

.testim-photo .testim-img{
	position: absolute;
	top: 50%;
	z-index: 1;
	right: 0;

	transform: translateY(-50%);
}

.testim-content{
	width: 50%;
	padding-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.testim-text{
	font-family: Cardo;
  	font-size: 36px;
  	font-style: italic;
  	line-height: 1.17;
  	color: #ffffff;

  	margin-bottom: 15px;
}

.testim-author{
	font-family: Raleway;
 	font-size: 13px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #ffffff;

  	margin-top: 15px;
}


/*точки для слайдера*/

.slick-dots{
	display: flex;
	justify-content: center;

	margin: 0;
	padding: 0 0 10px;
	list-style: none;

	width: 50%;
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
}

.slick-dots li{
	margin: 0 5px;
}

.slick-dots button{
	width: 15px;
	height: 15px;

	background: #fff;
	opacity: 0.5;
	border-radius: 50%;
	border: 0;
	padding: 0;
	cursor: pointer;

	font-size: 0;
	color: transparent;
}

.slick-dots button:focus{
	outline: none;
}

.slick-dots .slick-active button{
	opacity: 1;
}

/*PAGE-DOWNLOAD
=============================================================*/


.page-download{
	padding: 90px 0;
	text-align: center;
}


.download-title{
	font-family: Raleway;
  	font-size: 28px;
  	font-weight: 300;
  	text-transform: capitalize;
  	color: #2d3033;

  	margin-bottom: 15px;
}

.download-text{
	font-family: Raleway;
  	font-size: 13px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #2d3033;

  	margin-bottom: 35px;
}


.page-download .btn-main{
	padding: 18px 80px;
}



/*FOOTER
=============================================================*/


.footer{
	background-color: #3a3e64;
}

.footer-flex{
	padding: 70px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-item{
	flex-basis: 33.33333333333333333%;

	text-align: center;
	padding: 0 15px;
}

.footer-title{
 	font-family: Raleway;
  	font-size: 14px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #fff;

  	margin-bottom: 20px;
}


.footer-address{
	font-style: normal;
	font-family: Raleway;
	font-size: 14px;
	line-height: 1.64;
	color: rgba(255, 255, 255, 0.5);
}



.footer-text{
	font-family: Raleway;
	font-size: 14px;
	line-height: 1.64;
	color: rgba(255, 255, 255, 0.5);
}


.social-footer{
	justify-content: center;
}

.social-footer .social-link{
	background: transparent;

	border: solid 2px #ffffff;
	border-radius: 2px;

}

.social-footer .social-link:hover{
	background: #fff;
}


.social-footer .social-icon{
	fill: #fff;
}


/*COPYRIGHT
=============================================================*/



.footer-copyright{
	background-color: #313454;
	padding: 25px 0;
	text-align: center;
}


.copyright-text{
	font-size: 14px;
	color: #808080;
	line-height: 1.64;
}

.copyright-text span{
	color: #fff;
}


/*burger*/
.burger{
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 10px 2px;
}

.burger:focus{
	outline: none;
}

.burger-item{
	display: block;
	width: 30px;
	height: 3px;

	background-color: #fff;

	position: relative;
}

.burger-item:before,
.burger-item:after{
	content: "";
	width: 100%;
	height: 100%;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;
}

.burger-item:before{
	top: -8px;
}

.burger-item:after{
	bottom: -8px;
}


/*MEDIA
=============================================================*/



@media (max-width: 1300px){
	/*Works*/
	.works-item{
		flex-basis: 50%;
	}
}

@media (max-width: 990px){
	/*features*/
	.features-flex-item{
		flex-basis: 50%;
	}
	/*team*/
	.team-item{
		flex-basis: 50%;
		text-align: center;
	}
	.team-photo{
		margin-right: auto;
		margin-left: auto;
	}
	.social{
		justify-content: center;
	}


	/*testimonials*/
	.testim-photo{
		width: 100%;
		overflow: hidden;
		margin: 15px 0 5px;
	}
	.testim-content{
		width: 100%;
		padding-left: 0;
		margin-bottom: 25px;
	}

}

@media (max-width: 950px) {
	
	/*header*/
	header{
		padding-bottom: 85px;
	}
	/*убираю большое меню навигации*/
	.header-nav{
		display: none;

		width: 100%;
		flex-direction: column;
		align-items: flex-end;

		text-align: left;
		background-color: #31344e;

		position: absolute;
		right: 0;
		top: 100%;
	}
	.header-nav.show{
		display: flex;
	}
	.header-nav .nav-link{
		display: block;
		padding: 9px 15px;
	}
	/*отображаю бургер*/
	.burger{
		display: block;
	}
	.header-content .header-title{
		font-size: 40px;
		margin: 75px auto 35px;
	}
	.header-content p {
		margin-bottom: 35px;
	}

}

@media (max-width: 760px){
	/*Works*/
	.works-item{
		flex-basis: 100%;
	}
	/*features*/
	.page-features{
		padding: 40px 0;
	}

	/*testimonials*/
	.testim-text{
		font-size: 25px;
	}

	/*footer*/
	.footer-flex{
		padding: 30px 0;
	}
	.footer-item{
		flex-basis: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 30px;
	}
	.footer-item:last-child{
		margin-bottom: 0;
	}
}


@media (max-width: 700px){
	.header-content .header-title{
		font-size: 30px;
	}
	.header-content p {
		font-size: 16px;
	}

}

@media (max-width: 650px){
	/*features*/
	.features-flex-item{
		flex-basis: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	/*team*/
	.page-team {
    	padding: 30px 0 10px
	}
	.team-item{
		flex-basis: 100%;
	}
	.team-title span{
		margin-top: 6px;
		margin-bottom: 8px;
	}
	.team-text {
		margin-bottom: 10px;
	}
	/*testimonials*/
	.testim-photo .testim-img{
	    right: -60px;
	}
}

@media (max-width: 420px){
	/*Works*/
	.works-item{
		height: 300px;
	}
	.works-item img{
	transform: translate3d(-60%, -55%, 0);
	}

	/*testimonials*/
	.testim-photo .testim-img {
    	right: -110px;
	}	
}

@media (max-width: 350px){
	/*Works*/
	.works-item{
		height: 270px;
	}

	/*download*/
	.page-download {
    	padding: 50px 0;
	}
	.download-title {
    	font-size: 22px;
	}
	.download-text{
		font-size: 10px;
		margin-bottom: 25px;
	}
	.page-download .btn-main {
    	padding: 15px 50px;
    	font-size: 10px;
	}
}











































